*~
textures
*#
bin
dbg
*.user*
build*
*.sw?
tags
.ycm_extra_conf.pyc
*.autosave
*DS_Store*
*.gz
*.rpm
*.zip
*.bak
*.patch
.vscode
deps
tbb
ispc
./ospray-doc
readme.pdf
!/modules
/modules/*
!/modules/mpi
!/modules/pluggableGeometryExample
!/modules/simdGeometryExample
Session.vim
